* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
}
h2 {
	font-size: inherit;
	margin-bottom: 8px;
	font-weight: normal;
	display: inline;
}
h3 {
	font-size: inherit;
	color: #999999;
	font-weight: normal;
}
h4 {
	font-size: inherit;
	font-weight: normal;
	margin-bottom: 20px;
}
ul { list-style: none; }
ol { margin-left: 40px; }
p { margin-bottom: 20px; }
hr {
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}
hr:last-child { display: none; }
#wrapper {
	width: 990px;
	padding: 15px;
}

/* SIDEBAR */
#left {
	float: left;
	width: 260px;
	height: 100%;
	overflow: auto;
}
#title {
	float: left;
	width: 260px;
	margin-bottom: 20px;
}
#projects ul { list-style: none; }
#project-list { margin-bottom: 20px; }
.activelink { text-decoration: line-through; }
#credit {
	position: fixed;
	bottom: 15px;
	font-size: 12px;
}
#credit a { color: #ddd; }

/* HOME */
#description img {
	margin-top: 20px;
	display: block;
	width: 700px;
	height: auto;
}

/* PROJECTS */
#right {

	float: left;
	width: 700px;
}
#email {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
#posts { display: none; }
#posts li { margin-bottom: 20px; }
#posts ol li { margin: 0; }
#posts li img {
	width: 700px;
	height: auto;
}
.post { padding-bottom: 20px; border-bottom: 1px solid #000; }
.post:last-child { border: none; }
.post h4:nth-child(n+2) { display: none; }
.caption { margin-bottom: 20px; }
.tags { margin-top: 20px; }
.tags li { display: inline; margin-right: 10px; }
.tags li:first-child { display: none; }
.tags li:before { content: '#'; color: #999999; }
.tags a { border: none; color: #999999; }

/* TAGGED */
#tagged { font-style: italic; margin-bottom: 20px; color: #999999;}

/* HORIZONTAL */
tr { vertical-align: top; }
td { padding-right: 30px; }

/* OTHER */
iframe#tumblr_controls {
	top: 0% !important;
	right:0% !important;
	position: fixed !important;
}